asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
httpx
moviepy
natsort
opencv-python
Pillow
psutil
pytz
git+https://github.com/Masterolic/pyrogram.git
requests
tgcrypto
uvloop
yt_dlp
pymegatools